.about {
  width: 320px;
  margin: 0 auto;
  padding-top: 33px;
  background-image: linear-gradient(175deg, transparent 254px, @special-blue 255px),
    linear-gradient(185deg, transparent 254px, @special-blue 255px);

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 42px 0 0 0;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: repeat(2, minmax(50px, auto));
    background: none;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    margin: 0 auto;
    padding: 52px 0 0 0;
    background-color: @basic-white;
  }
}

.about__container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 700px;
    grid-column: ~"1/4";
    grid-row: ~"1/1";
    background-color: @basic-white;
  }
}

.about__title {
  margin: 0 0 28px 0;
  padding: 0;
  font-family: @ptsans, "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  font-display: swap;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}

.about-title__br-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.about__reasons-br-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.about__reasons {
  margin: 0 0 82px 0;
  padding: 0;
  font-family: @ptsans, "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  font-display: swap;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.01px;
  color: @special-black;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 43px;
  }
}
