.form {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 38px;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    padding-top: 68px;
    padding-bottom: 62px;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding-top: 38px;
    padding-bottom: 70px;
  }
}

.form__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 648px;
  }

  @media (min-width: @desktop-width) {
    width: 962px;
  }
}

.form__item {
  border-top: 1px solid @grey-disabled;
  border-right: none;
  border-left: none;
  border-bottom: none;
  margin: 0;
  padding: 20px 0 0 0;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.form__item-title {
  margin: 0 0 21px 0;
  padding: 0;
  font-family: @ptsans, "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  font-display: swap;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.form__item--user-data {
  width: 280px;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    order: 2;
    width: 328px;
  }

  @media (min-width: @desktop-width) {
    width: 488px;
  }
}

.form__item-title--user-data {
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding-left: 60px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 85px;
    margin-bottom: 56px;
  }
}

.form__item-user-data-list {
  margin: 0;
  padding: 0 0 10px 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-left: 62px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 88px;
  }
}

.form__item-label {
  font-family: @ptsans, "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-display: swap;
  line-height: 26px;
  text-transform: uppercase;
  color: @special-black;
  align-self: center;
}

.form__item-label--name {
  @media (min-width: @desktop-width) {
    padding-top: 7px;
  }
}

.form__item-label--surname {
  @media (min-width: @desktop-width) {
    padding-top: 6px;
  }
}

.form__item-label--patronymic {
  @media (min-width: @desktop-width) {
    padding-top: 6px;
  }
}

.form__item--contacts {
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    order: 3;
    padding-top: 40px;
    width: 648px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 40px;
    width: 962px;
  }
}

.form__item-title--contacts {
  margin: 0 0 17px 0;

  @media (min-width: @tablet-width) {
    position: relative;
    margin: 0 0 19px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 75px 0;
    text-align: center;
  }
}

.form__item-title--contacts::before {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 123px;
    height: 1px;
    background-color: @line-grey;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    top: 10px;
    left: 0;
  }
}

.form__item-title--contacts::after {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    right: 0;
    width: 123px;
    height: 1px;
    background-color: @line-grey;
  }

  @media (min-width: @desktop-width) {
    top: 10px;
    right: 0;
    width: 280px;
  }
}

.form__user-contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @desktop-width) {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.form__user-contacts-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }
}

.form__item-label--phone {
  margin-left: 23px;
  margin-bottom: 10px;

  @media (min-width: @desktop-width) {
    margin-left: 0;
    padding-top: 16px;
  }
}

.form__phone-text {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.form__item-label--email {
  margin-left: 23px;
  margin-bottom: 10px;

  @media (min-width: @desktop-width) {
    padding-top: 15px;
    margin-left: 80px;
  }
}

.form__item-input--phone {
  border: none;
  outline: none;
  background-color: @input-grey;
  padding-left: 23px;
  width: 197px;

  @media (min-width: @tablet-width) {
    width: 565px;
  }

  @media (min-width: @desktop-width) {
    width: 232px;
    margin-left: 17px;
    padding-top: 5px;
  }
}

@-moz-document url-prefix("") {
  .form__item-input--phone {
    padding-top: 16px;
    padding-left: 22px;
    padding-bottom: 26px;
  }
}

.form__item-input--email {
  border: none;
  outline: none;
  background-color: @input-grey;
  padding-left: 23px;
  width: 197px;

  @media (min-width: @tablet-width) {
    width: 565px;
  }

  @media (min-width: @desktop-width) {
    width: 234px;
    margin-left: 17px;
    padding-top: 5px;
  }
}

@-moz-document url-prefix("") {
  .form__item-input--email {
    padding-top: 16px;
    padding-left: 22px;
    padding-bottom: 26px;
  }
}

.form__item-input--phone:hover,
.form__item-input--email:hover {
  background-color: @grey-disabled;
}

.form__item-input--phone:active {
  border: 4px solid @grey-disabled;
  background-color: @basic-white;
  width: 193px;
  padding-left: 19px;

  @media (min-width: @tablet-width) {
    width: 561px;
  }

  @media (min-width: @desktop-width) {
    width: 228px;
  }
}

.form__item-input--email:active {
  border: 4px solid @grey-disabled;
  background-color: @basic-white;
  width: 193px;
  padding-left: 19px;

  @media (min-width: @tablet-width) {
    width: 561px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
  }
}

.form__item-input--phone:focus {
  border: 4px solid @grey-disabled;
  background-color: @basic-white;
  width: 193px;
  padding-left: 19px;

  @media (min-width: @tablet-width) {
    width: 561px;
  }

  @media (min-width: @desktop-width) {
    width: 228px;
  }
}

.form__item-input--email:focus {
  border: 4px solid @grey-disabled;
  background-color: @basic-white;
  width: 193px;
  padding-left: 19px;

  @media (min-width: @tablet-width) {
    width: 561px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
  }
}

@-moz-document url-prefix("") {
  .form__item-input--phone:active {
    padding-top: 12px;
    padding-bottom: 16px;
    padding-left: 18px;

    @media (min-width: @tablet-width) {
      padding-top: 12px;
      padding-bottom: 18px;
      padding-left: 18px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 12px;
      padding-left: 18px;
      padding-bottom: 22px;
    }
  }
}

@-moz-document url-prefix("") {
  .form__item-input--phone:focus {
    padding-top: 12px;
    padding-bottom: 16px;
    padding-left: 18px;

    @media (min-width: @tablet-width) {
      padding-top: 12px;
      padding-bottom: 18px;
      padding-left: 18px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 12px;
      padding-left: 18px;
      padding-bottom: 22px;
    }
  }
}

@-moz-document url-prefix("") {
  .form__item-input--email:active {
    padding-top: 12px;
    padding-bottom: 16px;
    padding-left: 18px;

    @media (min-width: @tablet-width) {
      padding-top: 12px;
      padding-bottom: 18px;
      padding-left: 18px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 12px;
      padding-left: 18px;
      padding-bottom: 22px;
    }
  }
}

@-moz-document url-prefix("") {
  .form__item-input--email:focus {
    padding-top: 12px;
    padding-bottom: 16px;
    padding-left: 18px;

    @media (min-width: @tablet-width) {
      padding-top: 12px;
      padding-bottom: 18px;
      padding-left: 18px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 12px;
      padding-left: 18px;
      padding-bottom: 22px;
    }
  }
}

.form__item-input--phone:disabled,
.form__item-input--email:disabled {
  background-color: @input-grey;
  opacity: 0.4;
}


.form__item-user-data-item {
  display: flex;
  justify-content: flex-start;
}

.form__item-user-data-item--name {
  margin-bottom: 20px;
}

.form__item-user-data-item--surname {
  margin-bottom: 20px;
}

.form__item-input::placeholder {
  font-family: @ptsans, "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  font-display: swap;
  line-height: 26px;
  color: @basic-black;
  outline: none;
}

.form__item-input--name {
  margin-left: 13px;
  padding-left: 22px;
  padding-top: 22px;
  padding-bottom: 18px;
  border: none;
  width: 205px;
  background-color: @input-grey;
  outline: none;

  @media (min-width: @tablet-width) {
    width: 192px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 26px;
    width: 326px;
  }
}

@-moz-document url-prefix("") {
  .form__item-input--name {
    padding-top: 20px;
    padding-left: 22px;
    padding-bottom: 30px;
  }
}

.form__item-input--surname {
  margin-left: 13px;
  padding-left: 23px;
  padding-top: 26px;
  padding-bottom: 18px;
  border: none;
  width: 166px;
  background-color: @input-grey;
  outline: none;

  @media (min-width: @tablet-width) {
    width: 154px;
  }

  @media (min-width: @desktop-width) {
    width: 288px;
  }
}

@-moz-document url-prefix("") {
  .form__item-input--surname {
    padding-top: 20px;
    padding-left: 22px;
    padding-bottom: 30px;
  }
}

.form__item-input--patronymic {
  margin-left: 13px;
  padding-left: 20px;
  padding-top: 24px;
  padding-bottom: 17px;
  border: none;
  width: 168px;
  background-color: @input-grey;
  outline: none;

  @media (min-width: @tablet-width) {
    width: 157px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 25px;
    width: 291px;
  }
}

@-moz-document url-prefix("") {
  .form__item-input--patronymic {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
  }
}

.form__item-input--name:hover,
.form__item-input--surname:hover,
.form__item-input--patronymic:hover {
  background-color: @grey-disabled;
}

.form__item-input--name:active {
  background-color: @basic-white;
  border: 4px solid @grey-disabled;
  width: 201px;
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    width: 188px;
  }

  @media (min-width: @desktop-width) {
    width: 322px;
    padding-top: 22px;
  }
}

.form__item-input--name:focus {
  background-color: @basic-white;
  border: 4px solid @grey-disabled;
  width: 201px;
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    width: 188px;
  }

  @media (min-width: @desktop-width) {
    width: 322px;
    padding-top: 22px;
  }
}

@-moz-document url-prefix("") {
  .form__item-input--name:active {
    padding-top: 16px;
    padding-bottom: 26px;

    @media (min-width: @tablet-width) {
      padding-top: 16px;
      padding-bottom: 26px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 16px;
      padding-left: 18px;
      padding-bottom: 26px;
      width: 320px;
    }
  }
}

@-moz-document url-prefix("") {
  .form__item-input--name:focus {
    padding-top: 16px;
    padding-bottom: 26px;

    @media (min-width: @tablet-width) {
      padding-top: 16px;
      padding-bottom: 26px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 16px;
      padding-left: 18px;
      padding-bottom: 26px;
      width: 320px;
    }
  }
}

.form__item-input--surname:active {
  background-color: @basic-white;
  border: 4px solid @grey-disabled;
  padding-left: 19px;
  padding-top: 22px;
  padding-bottom: 14px;
  width: 162px;

  @media (min-width: @tablet-width) {
    width: 150px;
  }

  @media (min-width: @desktop-width) {
    width: 284px;
  }
}

.form__item-input--surname:focus {
  background-color: @basic-white;
  border: 4px solid @grey-disabled;
  padding-left: 19px;
  padding-top: 22px;
  padding-bottom: 14px;
  width: 162px;

  @media (min-width: @tablet-width) {
    width: 150px;
  }

  @media (min-width: @desktop-width) {
    width: 284px;
  }
}

@-moz-document url-prefix("") {
  .form__item-input--surname:active {
    padding-top: 16px;
    padding-bottom: 26px;
    padding-left: 18px;

    @media (min-width: @tablet-width) {
      padding-top: 16px;
      padding-bottom: 26px;
      padding-left: 18px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 16px;
      padding-left: 18px;
      padding-bottom: 26px;
      width: 286px;
    }
  }
}

@-moz-document url-prefix("") {
  .form__item-input--surname:focus {
    padding-top: 16px;
    padding-bottom: 26px;
    padding-left: 18px;

    @media (min-width: @tablet-width) {
      padding-top: 16px;
      padding-bottom: 26px;
      padding-left: 18px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 16px;
      padding-left: 18px;
      padding-bottom: 26px;
      width: 286px;
    }
  }
}

.form__item-input--patronymic:active {
  background-color: @basic-white;
  border: 4px solid @grey-disabled;
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 13px;
  width: 164px;

  @media (min-width: @tablet-width) {
    width: 153px;
  }

  @media (min-width: @desktop-width) {
    width: 287px;
    padding-top: 21px;
  }
}

.form__item-input--patronymic:focus {
  background-color: @basic-white;
  border: 4px solid @grey-disabled;
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 13px;
  width: 164px;

  @media (min-width: @tablet-width) {
    width: 153px;
  }

  @media (min-width: @desktop-width) {
    width: 287px;
    padding-top: 21px;
  }
}

@-moz-document url-prefix("") {
  .form__item-input--patronymic:active {
    padding-top: 16px;
    padding-bottom: 26px;

    @media (min-width: @tablet-width) {
      padding-top: 16px;
      padding-bottom: 26px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 16px;
      padding-left: 16px;
      padding-bottom: 26px;
      width: 284px;
    }
  }
}

@-moz-document url-prefix("") {
  .form__item-input--patronymic:focus {
    padding-top: 16px;
    padding-bottom: 26px;

    @media (min-width: @tablet-width) {
      padding-top: 16px;
      padding-bottom: 26px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 16px;
      padding-left: 16px;
      padding-bottom: 26px;
      width: 284px;
    }
  }
}

.form__item-input--name:disabled,
.form__item-input--surname:disabled,
.form__item-input--patronymic:disabled {
  background-color: @input-grey;
  opacity: 0.4;
}

.form__user-contacts-icon {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @icon-grey;
}


.form__item--impression {
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    position: relative;
    order: 1;
    width: 320px;
  }

  @media (min-width: @desktop-width) {
    width: 474px;
  }
}

.form__item--impression::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 1px;
    height: 292px;
    top: 25px;
    left: 323px;
    background-color: @line-grey;
  }

  @media (min-width: @desktop-width) {
    top: 22px;
    left: 480px;
  }
}

.form__item-title--impression {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
  }
}

.form__impression-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__impression-item {
  margin-bottom: 21px;
}

.form__impression-item-label {
  display: flex;
  justify-content: flex-start;
}

.form__radio-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: @input-grey;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 57px;
    height: 57px;
  }
}

.form__radio-icon svg {
  display: none;
}

.form__impression-item-label-text {
  font-family: @ptsans, "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  font-display: swap;
  line-height: 26px;
  color: @basic-black;
  align-self: center;
  margin-left: 26px;
  padding-top: 2px;

  @media (min-width: @tablet-width) {
    margin-left: 18px;
  }
}

.form__impression-item-input-radio:checked + .form__impression-item-label svg {
  display: block;
}

.form__impression-item-label:hover .form__radio-icon {
  background-color: @grey-disabled;
}

.form__impression-item-label:active .form__radio-icon {
  border-color: @dark-grey;
}

.form__impression-item-input-radio:focus + .form__impression-item-label .form__radio-icon {
  outline: 3px solid @basic-black;
}

.form__impression-item-label:active svg {
  opacity: 0.3;
}

.form__impression-item-label:focus svg {
  opacity: 0.3;
}

.form__impression-item-input-radio:disabled + .form__impression-item-label {
  opacity: 0.3;
}

.form__item--attractions {
  padding-top: 16px;

  @media (min-width: @tablet-width) {
    order: 4;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 16px;
  }
}

.form__item-title--attractions {
  @media (min-width: @tablet-width) {
    width: 648px;
    margin-bottom: 44px;
    position: relative;
    display: block;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-bottom: 46px;
    text-align: center;
    position: relative;
    width: 960px;
  }
}

.form__item-title--attractions::before {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    top: 26px;
    left: 0;
    width: 123px;
    background-color: @line-grey;
  }

  @media (min-width: @desktop-width) {
    top: 26px;
    left: 0;
    width: 280px;
  }
}

.form__item-title--attractions::after {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    top: 26px;
    right: 0;
    background-color: @line-grey;
  }

  @media (min-width: @desktop-width) {
    top: 26px;
    right: 0;
    width: 280px;
  }
}

.form__item-title-br-mobile {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.form__item-title-br-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.form__item-title-br-desktop {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.form__attractions-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 458px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.form__attractions-item {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 201px;
  }
}

.form__attractions-item--bridge {
  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
    margin-right: 7px;
  }
}

.form__attractions-item-label {
  display: flex;
  justify-content: flex-start;
}

.form__attractions-item-label-text {
  font-family: @ptsans, "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  font-display: swap;
  line-height: 26px;
  color: @basic-black;
  align-self: center;
  margin-left: 26px;
  padding-top: 1px;
}

.form__checkbox-icon {
  width: 55px;
  height: 55px;
  background-color: @input-grey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-icon svg {
  display: none;
}

.form__attractions-item-input-checkbox:checked + .form__attractions-item-label svg {
  display: block;
}

.form__attractions-item-input-checkbox:disabled + .form__attractions-item-label {
  opacity: 0.3;
}

.form__attractions-item-label:hover .form__checkbox-icon {
  background-color: @grey-disabled;
}

.form__attractions-item-label:active .form__checkbox-icon {
  background-color: @dark-grey;
}

.form__attractions-item-input-checkbox:focus + .form__attractions-item-label .form__checkbox-icon {
  outline: 3px solid @basic-black;
}


.form__attractions-item-label:active svg {
  opacity: 0.3;
}

.form__attractions-item-label:focus svg {
  opacity: 0.3;
}

.form__item--emotions {
  margin-bottom: 47px;

  @media (min-width: @tablet-width) {
    order: 5;
    margin-bottom: 55px;
  }
}

.form__item-title--emotions {
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin: 0 0 56px 0;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-bottom: 55px;
    position: relative;
    width: 960px;
  }
}

.form__item-title--emotions::before {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 123px;
    height: 1px;
    background-color: @line-grey;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 280px;
    top: 10px;
    left: 0;
    background-color: @line-grey;
  }
}

.form__item-title--emotions::after {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    right: 0;
    width: 123px;
    height: 1px;
    background-color: @line-grey;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 280px;
    top: 10px;
    right: 0;
    background-color: @line-grey;
  }
}

.form__emotions-textarea {
  border: none;
  background-color: @input-grey;
  width: 259px;
  height: 147px;
  resize: none;
  padding: 11px 0 0 22px;
  font-family: @ptsans, "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    width: 625px;
    height: 142px;
    padding-top: 17px;
  }

  @media (min-width: @desktop-width) {
    width: 939px;
    height: 143px;
  }
}

.form__review-wrapper {
  @media (min-width: @tablet-width) {
    width: 648px;
    display: flex;
    justify-content: space-between;
    order: 6;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    margin: 0 auto;
  }
}

.form__review-button {
  margin: 0 auto;
  display: block;
  width: 282px;
  padding-top: 17px;
  padding-bottom: 14px;
  background-color: @special-blue;
  font-family: @ptsans, "Arial", sans-serif;
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: @basic-white;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
  }
}

.form__review-button:hover {
  background-color: @special-dark-blue;
}

.form__review-button:active span {
  opacity: 0.3;
}

.form__review-button:focus span {
  opacity: 0.3;
}

.form__review-button:disabled {
  background-color: @grey-disabled;
}


.form__required-fields-text {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-family: @ptsans, "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-display: swap;
    line-height: 26px;
    text-transform: uppercase;
    color: @special-black;
    margin-top: 18px;
  }
}
