.photo-video {
  width: 320px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 38px;
}

.photo-video__title {
  margin: 0 0 30px 0;
  padding: 0;
  font-family: @ptsans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-black;
}

.photo-video__description {
  margin: 0 0 31px 0;
  padding: 0;
  font-family: @ptsans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @special-black;
}

.photo-video__container {
  width: 282px;
  margin: 0 auto;
}

.photo-video__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo-video__item {
  margin-bottom: 14px;
  padding-top: 312px;
  border-top: 1px solid @grey-disabled;
}

.photo-video__item:nth-child(1) {
  background: url("../../img/sedona-photo-3.jpg") 21px 21px no-repeat;
}

.photo-video__item:nth-child(2) {
  background: url("../../img/sedona-photo-4.jpg") 21px 21px no-repeat;
}

.photo-video__item:nth-child(3) {
  background: url("../../img/sedona-photo-5.jpg") 21px 21px no-repeat;
}

.photo-video__item:nth-child(4) {
  background: url("../../img/sedona-photo-6.jpg") 21px 21px no-repeat;
}

.photo-video__item-title {
  margin: 0 0 2px 21px;
  padding: 0;
  font-family: @ptsans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @basic-black;
}

.photo-video__item-text {
  margin: 0 0 10px 21px;
  padding: 0;
  font-family: @ptsans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: @special-black;
}

.photo-video__likes-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-left: 21px;
}

.photo-video__likes-num {
  margin: 0 0 0 14px;
  padding: 4px 0 0 0;
  font-family: @ptsans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @basic-black;
  align-self: center;
}

.photo-video__video {
  padding-top: 34px;
  border-top: 1px solid @grey-disabled;
}

.photo-video__video-title {
  margin: 0 0 31px 0;
  padding: 0;
  font-family: @ptsans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-black;
}

.photo-video__video-text {
  margin: 0;
  padding: 0;
  font-family: @ptsans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @special-black;
}

.video-items-wrapper {
  padding-top: 190px;
  background: url("../../img/sedona-video.jpg") 0 33px no-repeat;
}

.video-length-menu {
  margin: 0 auto;
  width: 280px;
  height: 45px;
  background-color: @transparent-black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-line {
  position: relative;
  width: 235px;
  height: 3px;
  background-color: @transparent-white-2;
}

.video-line-handler {
  position: absolute;
  width: 9px;
  height: 9px;
  top: -3px;
  left: 34px;
  border-radius: 50%;
  background-color: @basic-white;
}

.video-menu {
  margin: 0 auto;
  width: 280px;
  height: 66px;
  background-color: @input-grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.replay-button {
  border: none;
  background-color: transparent;
  margin-left: 20px;
  outline: none;
}

.subtitles-button {
  border: none;
  background-color: transparent;
  margin-left: 120px;
  outline: none;
}

.fullscreen-button {
  border: none;
  background-color: transparent;
  margin-left: 20px;
  outline: none;
}

.replay:hover path,
.subtitles:hover path,
.fullscreen:hover path {
  fill: @special-black;
}

.replay:active path,
.subtitles:active path,
.fullscreen:active path {
  fill: @special-black;
  opacity: 0.3;
}
